In [3]:
import pandas as pd

In [4]:
data_1 = pd.read_csv('../project_dataset/extract - cash request - data analyst.csv')
df_cash_request = data_1.copy()
df_cash_request.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
14245,12165,100.0,money_back,2020-08-12 11:10:59.519601+00,2020-12-18 13:10:04.278654+00,26379.0,NaN,NaN,2020-09-08 22:00:00+00,2020-08-21,2020-09-09 19:50:55.953292+00,regular,2020-08-19 11:10:59.519228+00,NaN,NaN,NaN
3066,18855,50.0,rejected,2020-10-02 10:04:18.879919+00,2020-10-02 10:52:56.53059+00,56974.0,2020-10-02 10:52:56.524537+00,NaN,2020-11-16 22:00:00+00,NaN,NaN,instant,2020-10-09 10:04:18.832333+00,NaN,NaN,NaN
13138,10259,100.0,money_back,2020-07-31 12:15:44.86566+00,2020-12-18 13:09:42.073486+00,9399.0,2020-07-31 12:42:18.685251+00,NaN,2020-08-31 22:00:00+00,2020-08-12,2020-09-01 22:00:00+00,regular,2020-08-07 12:15:44.865196+00,NaN,NaN,NaN
13080,10427,100.0,money_back,2020-08-01 08:13:52.736935+00,2020-12-18 13:09:40.963104+00,12679.0,2020-08-01 15:14:23.679486+00,NaN,2020-10-27 22:00:00+00,2020-08-07,2020-10-27 09:15:18.991995+00,instant,2020-08-08 08:13:52.736561+00,NaN,NaN,NaN
22900,19905,100.0,money_back,2020-10-08 15:25:49.032378+00,2020-12-18 13:14:02.349166+00,64988.0,NaN,NaN,2020-12-06 23:00:00+00,2020-10-09,2020-12-07 19:14:04.003113+00,instant,2020-10-08 15:26:53.787217+00,NaN,NaN,NaN
12467,8330,100.0,money_back,2020-07-15 20:13:34.14044+00,2020-12-18 13:09:26.47765+00,14330.0,2020-07-17 09:58:55.678936+00,NaN,2020-08-04 22:00:00+00,2020-07-18,2020-08-04 22:00:00+00,regular,NaN,NaN,NaN,NaN
15243,14900,100.0,money_back,2020-09-07 05:59:13.364451+00,2020-12-18 13:10:29.695267+00,10875.0,NaN,NaN,2020-10-14 22:00:00+00,2020-09-08,2020-10-15 19:04:12.872603+00,instant,2020-09-14 05:59:13.316852+00,NaN,NaN,NaN
22067,16364,100.0,money_back,2020-09-16 06:57:10.552622+00,2020-12-18 13:13:18.032579+00,4640.0,NaN,NaN,2020-10-15 22:00:00+00,2020-09-17,2020-10-20 22:00:00+00,instant,2020-09-23 06:57:10.51314+00,NaN,NaN,NaN
13661,12599,100.0,money_back,2020-08-15 09:13:17.472497+00,2020-12-18 13:09:53.338562+00,18210.0,2020-08-15 11:15:48.160092+00,NaN,2020-08-31 22:00:00+00,2020-08-15,2020-09-01 22:00:00+00,instant,2020-08-22 09:13:17.432236+00,NaN,NaN,NaN
16845,23765,25.0,money_back,2020-10-23 18:39:28.762399+00,2020-12-18 13:11:03.675899+00,55721.0,NaN,NaN,2020-11-07 19:39:17.834+00,2020-11-03,2020-12-04 13:36:58.372172+00,regular,2020-10-30 18:39:28.758298+00,completed,2020-11-20 22:20:56.936568+00,2020-12-04 13:36:58.377289+00

In [5]:
data_2 = pd.read_csv('../project_dataset/extract - fees - data analyst - .csv')
df_fees = data_2.copy()
df_fees.sample(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
11492,4819,13590.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 13590,2020-08-22 15:24:35.22803+00,2020-10-13 14:25:07.069959+00,2020-10-09 04:17:28.130898+00,NaN,NaN,after
12769,15785,22937.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 22937,2020-10-22 05:07:07.288783+00,2020-10-22 05:07:07.288811+00,2020-12-22 04:23:30.867514+00,NaN,NaN,after
9950,19498,24882.0,postpone,accepted,NaN,5.0,Postpone Cash Request 24882,2020-10-29 01:09:20.895088+00,2020-10-29 01:09:20.895112+00,2020-10-29 01:09:24.557841+00,2020-11-09 23:51:00+00,2020-11-12 23:00:00+00,before
16749,2638,8250.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 8250,2020-08-03 04:10:09.431339+00,2020-10-13 14:25:16.355471+00,NaN,2020-08-05 22:00:00+00,2020-09-04 22:00:00+00,after
4933,14867,22208.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 22208,2020-10-19 15:52:44.250971+00,2020-10-19 15:52:44.250993+00,2020-11-05 20:37:22.765469+00,NaN,NaN,after
4865,16398,23468.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23468,2020-10-23 13:13:05.832244+00,2020-10-23 13:13:05.832271+00,2020-11-03 19:35:44.815383+00,NaN,NaN,after
16610,2073,6852.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 6852,2020-07-27 06:49:01.743494+00,2020-10-13 14:25:16.188914+00,NaN,2020-08-03 22:00:00+00,2020-08-21 06:48:47.141+00,after
5938,14355,21830.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21830,2020-10-17 15:29:59.497571+00,2020-10-17 15:29:59.497597+00,2020-11-05 05:14:50.198042+00,NaN,NaN,after
19409,13459,21115.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21115,2020-10-14 16:04:41.777353+00,2020-10-14 16:04:41.777374+00,2020-11-16 19:54:59.223902+00,NaN,NaN,after
8943,1220,3229.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-07-08 22:18:51.900773+00,2020-10-13 14:25:02.228912+00,2020-11-27 06:04:15.850253+00,NaN,NaN,after

The following is a copy of my code from prework for EDA:

In [7]:
print("Data Frame analysis for 'df_cash_request'")
print(f"Total amount of records in this data set: {df_cash_request.shape[0]} \n")
print(f"The data set contains {df_cash_request.shape[1]} columns:")
column_names_list = df_cash_request.columns.to_list()
print(f"{column_names_list}\n")

analysis_dict = {}
analysis_dict_row_template = {
    'unique_values': '',
    'unique_values_count': '',
    # data type analysis
    'data_type': '',
    'is_numerical': '',
    'is_categorical': '',
    'is_nominal': '',
    'is_ordinal': '',
    'is_continuous': '',
    'is_discrete': '',
    # discriptive stats
    'mean': '',
    'median': '',
    'mode': '',
    'standard deviation': '',
    'dispersion range': '',
    'frequency counts': '',
}

for column_name in df_cash_request:
    # DEBUG
    # print(f"Analysing data frame column: {column_name}")
    column = df_cash_request[column_name]

    # new empty entry in the dictionary with a fresh copy
    analysis_dict_row = analysis_dict_row_template.copy()

    analysis_dict_row['unique_values_count'] = len(column.unique())

    if analysis_dict_row['unique_values_count'] < 10:
        analysis_dict_row['unique_values'] = column.unique()
        print(f"Unique values in {column_name} are:\n {column.unique()}")

     # classify numbers from other
    if df_cash_request[column_name].dtype == 'int64':
        analysis_dict_row['data_type'] = 'integer'
        analysis_dict_row['is_numerical'] = True
    else:
        # point of improvement. dtype returns Object
        analysis_dict_row['data_type'] = 'not integer'
        analysis_dict_row['is_numerical'] = False

    analysis_dict_row['is_categorical'] = not analysis_dict_row['is_numerical']
    
    # only gender column contains nominal values
    analysis_dict_row['is_nominal'] = column_name == 'gender' or column_name == 'race/ethnicity'
    # all other text fields are ordinal
    analysis_dict_row['is_ordinal'] = analysis_dict_row['is_categorical'] and not analysis_dict_row['is_nominal'] 

    # all columns with scores contain continuous values
    analysis_dict_row['is_continuous'] = 'score' in column_name

    # set the other nominal as discrete if any
    analysis_dict_row['is_discrete'] = analysis_dict_row['is_nominal'] and not analysis_dict_row['is_continuous']
    

    if analysis_dict_row['is_numerical']:
        analysis_dict_row['mean'] = column.mean()
        analysis_dict_row['median'] = column.median()
        analysis_dict_row['mode'] = column.mode().tolist()
        analysis_dict_row['standard deviation'] = column.std()
        analysis_dict_row['dispersion range'] = column.max() - column.min()
    elif analysis_dict_row['is_categorical']:
        analysis_dict_row['frequency counts'] = column.value_counts().to_dict()
    else:
        raise TypeError(f"Failed to classify data of type {analysis_dict_row['data_type']}.")
    
    # store the result record in the report dictionary
    analysis_dict[column_name] = analysis_dict_row.copy()

separator = "----------------------------\n"
print(separator)

df_cash_request_report = pd.DataFrame(analysis_dict).transpose()
df_cash_request_report.head(20)
df_cash_request.to_pickle('df_cash_request.pkl')
df_cash_request_report.to_pickle('df_cash_request_report.pkl')

print("Data frame column types analysis report.")

print(separator)
print("The numerical variables are presented in columns:")
numerical_columns = df_cash_request_report[df_cash_request_report['is_numerical'] == True].index.tolist()
print(numerical_columns)
print("The categorical variables are presented in columns:")
categorical_columns = df_cash_request_report[df_cash_request_report['is_categorical'] == True].index.tolist()
print(categorical_columns)
print(f"Columns with nominal values:")
nominal_columns = df_cash_request_report[df_cash_request_report['is_nominal'] == True].index.tolist()
print(nominal_columns)
print(f"Columns with ordinal values:")
ordinal_columns = df_cash_request_report[df_cash_request_report['is_ordinal'] == True].index.tolist()
print(ordinal_columns)

print(separator)
print("Descriptive statistics for numerical data:")
column_names_list = ['mean', 'median', 'mode', 'standard deviation', 'dispersion range']
stats_for_numerical_columns = df_cash_request_report[df_cash_request_report['is_numerical'] == True][column_names_list]
print(stats_for_numerical_columns)
print(separator)

print("Descriptive statistics for categorical data:")
categorical_columns = df_cash_request_report[df_cash_request_report['is_categorical'] == True]['frequency counts']

for column, freq_dict in categorical_columns.items():
    print(f"\nFrequency counts for {column}:")
    freq_df = pd.DataFrame(list(freq_dict.items()), columns=['Category', 'Count'])
    print(freq_df)

Data Frame analysis for 'df_cash_request'
Total amount of records in this data set: 23970

The data set contains 16 columns:
['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']

Unique values in status are:
 ['rejected' 'money_back' 'canceled' 'active' 'direct_debit_rejected'
 'transaction_declined' 'direct_debit_sent']
Unique values in transfer_type are:
 ['regular' 'instant']
Unique values in recovery_status are:
 [nan 'completed' 'pending' 'pending_direct_debit' 'cancelled']
----------------------------

Data frame column types analysis report.
----------------------------

The numerical variables are presented in columns:
['id']
The categorical variables are presented in columns:
['amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']
Columns with nominal values:
[]
Columns with ordinal values:
['amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']
----------------------------

Descriptive statistics for numerical data:
            mean   median                                               mode  \
id  13910.966124  14270.5  [3, 4, 5, 6, 7, 9, 10, 11, 13, 28, 34, 47, 48,...

   standard deviation dispersion range
id        7788.117214            27007
----------------------------

Descriptive statistics for categorical data:

Frequency counts for amount:
    Category  Count
0      100.0  16094
1       50.0   5304
2       25.0   1276
3       80.0    267
4       60.0    190
5       70.0    151
6       20.0    132
7       30.0    114
8       40.0    100
9       90.0     91
10      10.0     57
11     200.0     25
12      95.0     21
13       1.0     19
14      75.0     18
15      45.0     15
16      55.0     14
17      65.0     12
18      99.0     12
19      15.0     10
20      85.0      9
21      35.0      9
22       5.0      6
23       2.0      3
24      98.0      2
25      28.0      2
26      22.0      2
27      11.0      2
28      49.0      1
29      36.0      1
30      54.0      1
31      39.0      1
32      97.0      1
33       8.0      1
34      86.0      1
35      94.0      1
36      67.0      1
37      72.0      1
38      31.0      1
39     150.0      1
40      24.0      1

Frequency counts for status:
                Category  Count
0             money_back  16397
1               rejected   6568
2  direct_debit_rejected    831
3                 active     59
4   transaction_declined     48
5      direct_debit_sent     34
6               canceled     33

Frequency counts for created_at:
                            Category  Count
0      2019-12-10 19:05:21.596873+00      1
1      2020-09-09 11:06:31.382449+00      1
2      2020-10-07 05:56:54.442506+00      1
3      2020-09-09 12:32:29.661278+00      1
4      2020-09-09 11:42:31.956338+00      1
...                              ...    ...
23965   2020-04-15 09:42:07.85115+00      1
23966  2020-01-28 08:44:55.964552+00      1
23967  2020-03-26 08:46:29.025704+00      1
23968  2019-12-15 13:41:52.064247+00      1
23969  2020-10-08 14:16:52.155661+00      1

[23970 rows x 2 columns]

Frequency counts for updated_at:
                            Category  Count
0       2019-12-11 16:47:42.40783+00      1
1      2020-12-18 13:10:44.348964+00      1
2      2020-12-18 13:10:44.448561+00      1
3      2020-12-18 13:10:44.439598+00      1
4      2020-12-18 13:10:44.429451+00      1
...                              ...    ...
23965  2020-12-22 22:08:45.274508+00      1
23966  2020-11-04 12:55:30.078009+00      1
23967  2020-11-04 12:55:58.116109+00      1
23968  2020-11-04 12:55:20.220846+00      1
23969  2021-01-05 15:45:52.645536+00      1

[23970 rows x 2 columns]

Frequency counts for user_id:
       Category  Count
0        3377.0     19
1        2142.0     18
2       13851.0     18
3        2530.0     17
4        1159.0     17
...         ...    ...
10793    4938.0      1
10794   79289.0      1
10795   74036.0      1
10796   57112.0      1
10797   64517.0      1

[10798 rows x 2 columns]

Frequency counts for moderated_at:
                            Category  Count
0      2019-12-11 16:47:42.405646+00      1
1      2020-07-10 12:43:27.336286+00      1
2      2020-07-08 17:55:11.030979+00      1
3      2020-07-02 12:53:57.219204+00      1
4      2020-07-17 09:13:58.632576+00      1
...                              ...    ...
16030  2020-09-16 18:07:53.044324+00      1
16031  2020-08-21 08:26:07.838744+00      1
16032  2020-09-24 14:42:24.757221+00      1
16033  2020-08-21 08:27:03.943839+00      1
16034  2020-09-19 15:37:54.670099+00      1

[16035 rows x 2 columns]

Frequency counts for deleted_account_id:
      Category  Count
0       6334.0     19
1       3767.0     16
2      11444.0     16
3       4047.0     15
4      24168.0     13
...        ...    ...
1136    5240.0      1
1137    4216.0      1
1138    2009.0      1
1139    5480.0      1
1140   30367.0      1

[1141 rows x 2 columns]

Frequency counts for reimbursement_date:
                           Category  Count
0            2020-11-05 22:00:00+00   1106
1            2020-10-05 22:00:00+00    761
2            2020-08-05 22:00:00+00    732
3            2020-09-07 22:00:00+00    554
4            2020-11-02 22:00:00+00    432
...                             ...    ...
4084  2020-09-11 04:52:20.778314+00      1
4085  2020-09-11 02:36:34.771596+00      1
4086  2020-09-11 06:33:06.050292+00      1
4087  2020-09-11 07:17:08.435449+00      1
4088         2021-02-05 22:00:00+00      1

[4089 rows x 2 columns]

Frequency counts for cash_request_received_date:
       Category  Count
0    2020-10-27    716
1    2020-10-28    482
2    2020-10-30    435
3    2020-10-20    355
4    2020-11-03    345
..          ...    ...
307  2020-03-15      1
308  2020-01-20      1
309  2019-12-10      1
310  2020-01-23      1
311  2020-01-24      1

[312 rows x 2 columns]

Frequency counts for money_back_date:
                            Category  Count
0             2020-08-04 22:00:00+00    364
1             2020-08-05 22:00:00+00    295
2             2020-07-29 22:00:00+00    244
3             2020-07-07 22:00:00+00    180
4             2020-09-01 22:00:00+00    134
...                              ...    ...
12216  2020-09-26 19:41:04.707858+00      1
12217  2020-09-03 18:59:16.868528+00      1
12218  2020-09-04 19:34:13.744825+00      1
12219  2020-06-30 08:44:45.520733+00      1
12220  2021-02-05 13:14:19.689906+00      1

[12221 rows x 2 columns]

Frequency counts for transfer_type:
  Category  Count
0  instant  13882
1  regular  10088

Frequency counts for send_at:
                            Category  Count
0      2020-10-23 15:21:26.878525+00      1
1      2020-10-15 09:12:29.887167+00      1
2      2020-10-15 09:26:23.065397+00      1
3      2020-10-08 08:51:51.386371+00      1
4      2020-10-08 07:52:04.638453+00      1
...                              ...    ...
16636  2020-08-25 15:29:56.343502+00      1
16637  2020-07-29 05:57:05.332148+00      1
16638  2020-08-09 12:28:20.509031+00      1
16639  2020-10-23 10:06:36.351884+00      1
16640  2020-10-08 14:17:04.526139+00      1

[16641 rows x 2 columns]

Frequency counts for recovery_status:
               Category  Count
0             completed   2468
1               pending    845
2  pending_direct_debit     16
3             cancelled      1

Frequency counts for reco_creation:
                           Category  Count
0     2020-06-12 22:27:04.837525+00      1
1     2020-11-11 23:01:30.183037+00      1
2     2020-09-22 22:34:09.112102+00      1
3     2020-09-22 22:23:31.824006+00      1
4     2020-09-22 22:41:35.956212+00      1
...                             ...    ...
3325  2020-11-15 22:44:45.510708+00      1
3326  2020-11-15 22:22:58.049274+00      1
3327  2020-11-15 22:22:21.073658+00      1
3328  2020-11-15 22:22:32.824054+00      1
3329  2020-11-12 23:20:41.928788+00      1

[3330 rows x 2 columns]

Frequency counts for reco_last_update:
                           Category  Count
0     2020-07-06 03:36:03.030904+00      1
1     2020-11-11 23:01:33.548034+00      1
2     2020-10-03 04:45:39.909619+00      1
3     2020-09-22 22:23:35.480525+00      1
4     2020-10-03 07:48:36.457294+00      1
...                             ...    ...
3325    2021-01-05 02:19:50.1819+00      1
3326  2021-02-05 18:01:08.245275+00      1
3327    2020-11-15 22:22:24.9354+00      1
3328  2020-11-15 22:22:36.062846+00      1
3329  2020-12-01 13:26:53.815504+00      1

[3330 rows x 2 columns]

### TODO:
- Add logger for debuging outputs
- Modify the code to add tricks that Isi showed us on Week 2 and remove useless parts
- Analyse df_fees in the same way, but specifically for that data frame
- extract the park for saving and reading from a pickle file to use daily or on demand