In [2]:
import pandas as pd

data_1 = pd.read_csv('../project_dataset/extract - cash request - data analyst.csv')
df_cash_request = data_1.copy()
df_cash_request.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
22965,25093,25.0,money_back,2020-10-27 11:03:28.836697+00,2020-12-18 13:14:09.947032+00,88591.0,NaN,NaN,2020-11-11 11:03:21.179+00,2020-11-05,2020-11-11 19:13:38.649895+00,regular,2020-11-03 11:03:28.83201+00,NaN,NaN,NaN
16430,19587,50.0,money_back,2020-10-07 07:26:11.326505+00,2020-12-18 13:10:53.540913+00,38928.0,NaN,NaN,2020-11-05 22:00:00+00,NaN,2020-11-05 05:44:46.285289+00,instant,2020-10-07 07:26:36.654063+00,NaN,NaN,NaN
20347,22729,50.0,money_back,2020-10-21 09:48:13.977276+00,2020-12-18 13:12:30.20902+00,84636.0,NaN,NaN,2020-11-15 23:00:00+00,2020-10-22,2020-12-09 11:35:42.512027+00,instant,2020-10-21 09:48:43.398276+00,completed,2020-11-27 22:12:21.548448+00,2020-12-09 11:35:42.515563+00
3478,7512,100.0,rejected,2020-07-10 17:40:43.775207+00,2020-07-11 12:28:06.150922+00,31300.0,2020-07-11 12:28:06.148744+00,NaN,2020-07-27 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7566,268,100.0,money_back,2019-12-20 20:50:06.809457+00,2020-11-04 12:54:54.769258+00,1909.0,2019-12-21 14:15:11.958969+00,NaN,2020-01-13 23:00:00+00,2019-12-24,NaN,regular,NaN,NaN,NaN,NaN
668,10719,100.0,rejected,2020-08-03 17:18:51.344735+00,2020-08-03 18:00:54.00682+00,22477.0,2020-08-03 18:00:54.004237+00,NaN,2020-08-28 22:00:00+00,NaN,NaN,regular,2020-08-10 17:18:51.344273+00,NaN,NaN,NaN
20354,22102,100.0,money_back,2020-10-19 10:30:15.245552+00,2020-12-18 13:12:30.383388+00,79767.0,NaN,NaN,2020-11-02 11:00:00+00,NaN,2020-11-03 08:11:31.585206+00,instant,2020-10-19 10:30:31.011503+00,NaN,NaN,NaN
8487,21016,50.0,transaction_declined,2020-10-14 09:48:16.558989+00,2020-10-14 11:52:42.699631+00,47557.0,NaN,NaN,2020-11-05 22:00:00+00,NaN,NaN,instant,2020-10-14 09:48:25.149995+00,NaN,NaN,NaN
15503,13805,100.0,money_back,2020-08-25 07:52:36.140343+00,2020-12-18 13:10:35.136328+00,10135.0,2020-08-25 09:11:47.810705+00,NaN,2020-09-29 22:00:00+00,2020-08-26,2020-09-30 19:19:04.820725+00,instant,2020-09-01 07:52:36.099648+00,NaN,NaN,NaN
16172,15582,100.0,money_back,2020-09-10 16:19:20.154758+00,2020-12-18 13:10:47.541554+00,9747.0,NaN,NaN,2020-09-30 22:00:00+00,2020-09-19,2020-10-01 19:53:58.622838+00,regular,2020-09-17 16:19:20.109498+00,NaN,NaN,NaN

In [7]:
df_cash_request.shape

(23970, 16)

In [3]:
df_cash_request.isna().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [ ]:
# new Dataframe only with the customers that had recovery incidents 
# --> reduce null values from recovery_status, reco_creation, reco_last_update in the df_cash_request DataFrames
df_recovery_incidents = df_cash_request[df_cash_request["recovery_status"].notnull()]
df_recovery_incidents.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
14473,5531,100.0,money_back,2020-06-26 17:58:00.40222+00,2020-12-18 13:10:11.767459+00,NaN,2020-06-27 14:40:20.328381+00,4106.0,2020-07-08 22:00:00+00,2020-06-30,2020-07-18 10:58:34.050995+00,regular,NaN,completed,2020-07-15 22:30:36.64061+00,2020-07-18 10:58:34.06394+00
14945,7138,100.0,money_back,2020-07-08 11:52:41.759854+00,2020-12-18 13:10:22.395225+00,NaN,2020-07-08 13:10:16.934019+00,5664.0,2020-08-04 22:00:00+00,2020-07-10,2020-09-16 06:59:55.179585+00,regular,NaN,completed,2020-08-12 22:17:48.154059+00,2020-09-16 06:59:55.201342+00
8433,26244,50.0,money_back,2020-10-30 00:48:53.550263+00,2021-01-03 01:46:50.754217+00,99511.0,NaN,NaN,2020-11-10 11:00:00+00,2020-10-31,2021-01-03 01:46:50.697075+00,instant,2020-10-30 00:49:34.15488+00,completed,2020-11-20 22:33:19.793439+00,2021-01-03 01:46:50.702115+00
9632,24386,50.0,direct_debit_rejected,2020-10-25 14:36:10.343932+00,2020-11-14 22:57:12.192468+00,92358.0,NaN,NaN,2020-11-06 23:51:00+00,2020-10-26,NaN,instant,2020-10-25 14:36:48.633252+00,pending,2020-11-14 22:57:07.812392+00,2020-11-14 22:57:12.206775+00
9798,26048,25.0,direct_debit_rejected,2020-10-29 11:26:38.920765+00,2020-12-10 22:35:18.304178+00,88589.0,NaN,NaN,2020-11-19 23:51:00+00,2020-10-31,2020-11-25 23:00:00+00,instant,2020-10-29 11:26:54.24572+00,pending,2020-12-10 22:35:18.335854+00,2020-12-10 22:35:18.335865+00
4118,13,100.0,direct_debit_rejected,2019-12-10 19:18:59.309847+00,2020-11-04 12:55:22.528038+00,406.0,2019-12-11 16:56:12.640514+00,NaN,2020-02-05 23:00:00+00,2019-12-12,NaN,regular,NaN,pending,2020-03-20 14:12:53.253927+00,2020-03-31 16:05:16.48057+00
5578,12961,100.0,direct_debit_rejected,2020-08-18 15:37:54.694157+00,2020-10-04 22:16:03.137489+00,NaN,2020-08-18 16:22:39.555489+00,7525.0,2020-09-20 22:00:00+00,2020-08-19,2020-09-24 22:00:00+00,instant,2020-08-25 15:37:54.649913+00,pending,2020-10-04 22:16:03.053539+00,2020-10-04 22:16:03.147249+00
23883,12369,100.0,money_back,2020-08-13 15:08:01.132621+00,2021-01-05 02:33:38.337857+00,22870.0,2020-08-14 06:59:54.189082+00,NaN,2020-11-07 10:00:00+00,2020-08-15,2021-01-05 02:33:38.289186+00,instant,2020-08-20 15:08:01.092536+00,completed,2020-12-13 22:18:47.25622+00,2021-01-05 02:33:38.292758+00
9965,19246,50.0,direct_debit_sent,2020-10-05 09:58:27.162554+00,2021-02-11 22:27:53.750518+00,61104.0,2020-10-05 10:44:36.170943+00,NaN,2020-10-23 22:00:00+00,2020-10-06,2020-12-22 23:00:00+00,instant,2020-10-12 09:58:27.115208+00,pending_direct_debit,2020-10-29 22:20:46.119075+00,2021-02-11 22:27:53.778429+00
17915,11378,100.0,money_back,2020-08-07 14:21:00.663912+00,2020-12-18 13:11:28.146086+00,14007.0,2020-08-07 15:53:21.472454+00,NaN,2020-09-03 10:00:00+00,2020-08-07,2020-11-05 18:28:45.745322+00,instant,2020-08-14 14:21:00.663392+00,completed,2020-10-09 22:17:28.906053+00,2020-11-05 18:28:45.75949+00

In [18]:
# In this case we are using recovery_status column to create the new one (recovery_incident)
# but any of these three columns(recovery_status, reco_creation, reco_last_update) could be used for that
df_cash_request["recovery_incident"] = ~df_cash_request["reco_creation"].isna()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,recovery_incident
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,False
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,False
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,False
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,False
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN,False
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00,True
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN,False
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN,False
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN,False

In [22]:
# Drop the columns: recovery_status, reco_creation, reco_last_update
# As they contain to many NaN values
# we want them out to clean our DataFrame

df_cash_request.drop(columns= ["recovery_status","reco_creation","reco_last_update"], inplace=True) 
df_cash_request

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_incident
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,False
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,False
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,False
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,False
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,False
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,True
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,False
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,False
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,False

In [ ]:
df_cash_request

In [4]:
data_2 = pd.read_csv('../project_dataset/extract - fees - data analyst - .csv')
df_fees = data_2.copy()
df_fees.sample(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
18371,12575,8146.0,incident,rejected,month_delay_on_payment,5.0,month delay on payment - 9/2020,2020-10-10 23:26:31.539219+00,2020-10-13 14:25:18.725293+00,NaN,NaN,NaN,after
14715,10119,18579.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 18579,2020-09-30 18:24:01.449654+00,2020-10-13 14:25:13.109871+00,2021-02-06 20:16:09.547187+00,NaN,NaN,after
8492,18600,25174.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25174,2020-10-27 12:39:27.653803+00,2020-10-27 12:39:27.653836+00,2020-11-12 19:42:41.073265+00,NaN,NaN,after
8630,1571,4503.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-07-17 23:31:37.001714+00,2020-10-13 14:25:01.654255+00,2020-07-27 13:27:32.055727+00,NaN,NaN,after
5855,20062,26323.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26323,2020-10-30 11:04:32.013566+00,2020-10-30 11:04:32.013588+00,2020-12-05 05:59:48.456138+00,NaN,NaN,after
15547,1784,5124.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 5124,2020-07-22 16:02:14.525428+00,2020-10-13 14:25:14.553289+00,NaN,2020-08-02 08:21:04.25+00,2020-08-17 08:21:04.25+00,after
5597,8527,17114.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 17114,2020-09-21 16:56:45.510169+00,2020-10-13 14:25:12.854072+00,2021-01-04 20:06:03.882118+00,NaN,NaN,after
6298,17753,24580.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24580,2020-10-26 10:15:36.537607+00,2020-10-26 10:15:36.53763+00,2020-11-06 19:37:02.478798+00,NaN,NaN,after
20483,14210,18194.0,incident,rejected,rejected_direct_debit,5.0,rejected direct debit,2020-10-16 23:49:43.696084+00,2020-10-16 23:49:43.696103+00,2021-01-09 05:39:21.804397+00,NaN,NaN,after
12404,10352,14787.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 14787,2020-10-01 18:50:59.96314+00,2020-10-13 14:25:08.606981+00,NaN,2020-10-07 15:46:25.705+00,2020-10-30 23:00:00+00,after