In [1]:
import pandas as pd

data_1 = pd.read_csv('../project_dataset/extract - cash request - data analyst.csv')
df_cash_request = data_1.copy()
df_cash_request.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
3003,6919,100.0,rejected,2020-07-07 15:18:22.40135+00,2020-07-07 15:23:15.387332+00,14557.0,2020-07-07 15:23:15.384744+00,NaN,2020-07-14 23:51:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7367,17618,100.0,rejected,2020-09-24 09:41:35.33889+00,2020-09-24 11:15:07.121705+00,48720.0,2020-09-24 11:15:07.112709+00,NaN,2020-10-29 22:00:00+00,NaN,NaN,instant,2020-10-01 09:41:35.29258+00,NaN,NaN,NaN
4512,10992,100.0,rejected,2020-08-05 15:59:15.849746+00,2020-08-05 17:07:12.983836+00,9314.0,2020-08-05 17:07:12.980647+00,NaN,2020-09-07 22:00:00+00,NaN,NaN,instant,2020-08-12 15:59:15.849334+00,NaN,NaN,NaN
8105,370,100.0,money_back,2020-01-04 05:18:31.666026+00,2020-11-04 12:55:05.567897+00,521.0,2020-01-06 12:46:44.197157+00,NaN,2020-01-27 23:00:00+00,2020-01-07,NaN,regular,NaN,NaN,NaN,NaN
3002,10151,100.0,rejected,2020-07-30 13:24:41.355248+00,2020-07-30 13:58:21.462357+00,9476.0,2020-07-30 13:58:21.459945+00,NaN,2020-09-07 22:00:00+00,NaN,NaN,instant,2020-08-06 13:24:41.354795+00,NaN,NaN,NaN
23757,18477,100.0,money_back,2020-09-30 03:35:56.431863+00,2020-12-18 13:16:11.201205+00,35054.0,NaN,NaN,2020-12-05 11:00:00+00,2020-10-01,2020-12-05 19:53:17.767383+00,instant,2020-10-07 03:35:56.378979+00,NaN,NaN,NaN
3651,5918,100.0,rejected,2020-06-30 10:38:41.793243+00,2020-06-30 15:52:54.089831+00,24368.0,2020-06-30 15:52:54.085652+00,NaN,2020-08-03 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
12274,4615,100.0,money_back,2020-06-22 10:54:35.359464+00,2020-12-18 13:09:20.962818+00,20491.0,2020-06-23 10:10:24.324342+00,NaN,2020-07-28 22:00:00+00,2020-06-24,2020-09-03 09:47:29.842336+00,regular,NaN,completed,2020-08-07 22:37:58.841659+00,2020-09-03 09:47:29.860891+00
20147,22385,50.0,money_back,2020-10-20 09:20:44.788888+00,2020-12-18 13:12:24.712475+00,78152.0,NaN,NaN,2020-11-03 23:51:00+00,2020-10-22,2020-12-04 06:17:18.986997+00,instant,2020-10-20 10:47:19.927546+00,completed,2020-11-15 22:17:57.3757+00,2020-12-04 06:17:19.009872+00
7647,14059,100.0,rejected,2020-08-29 17:02:49.960405+00,2020-08-29 18:47:49.828336+00,NaN,2020-08-29 18:47:49.819239+00,7925.0,2020-10-05 22:00:00+00,NaN,NaN,instant,2020-09-05 17:02:49.910559+00,NaN,NaN,NaN

In [6]:
data_2 = pd.read_csv('../project_dataset/extract - fees - data analyst - .csv')
df_fees = data_2.copy()
df_fees.sample(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
14302,14748,22093.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 22093,2020-10-19 10:02:00.327188+00,2020-10-19 10:02:00.32721+00,2020-12-04 12:12:55.951479+00,NaN,NaN,after
248,14440,16487.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-10-17 22:30:03.481179+00,2020-10-17 22:30:03.481208+00,2020-10-28 08:56:21.019284+00,NaN,NaN,after
3935,9067,17474.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 17474,2020-09-24 09:58:45.677869+00,2020-10-13 14:25:13.617537+00,2020-11-03 05:20:27.219988+00,NaN,NaN,after
15907,1652,6174.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 6174,2020-07-20 07:37:43.042373+00,2020-10-13 14:25:15.189132+00,NaN,2020-07-24 23:51:00+00,2020-08-08 23:51:00+00,after
555,17979,24770.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24770,2020-10-26 17:13:39.331019+00,2020-10-26 17:13:39.331043+00,2020-11-15 10:57:38.934321+00,NaN,NaN,after
11516,4831,13610.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 13610,2020-08-22 18:18:40.213891+00,2020-10-13 14:25:07.115324+00,2020-09-11 19:24:15.564034+00,NaN,NaN,after
13356,7059,11604.0,postpone,accepted,NaN,5.0,Postpone Cash Request 11604,2020-09-10 09:28:32.454937+00,2020-10-13 14:25:10.193262+00,2020-09-10 09:28:36.650977+00,2020-09-04 22:00:00+00,2020-10-04 22:00:00+00,before
6803,16466,23543.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23543,2020-10-23 15:27:20.777018+00,2020-10-23 15:27:20.777047+00,2020-11-22 20:03:08.144467+00,NaN,NaN,after
4447,14554,21972.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21972,2020-10-18 15:34:58.839764+00,2020-10-18 15:34:58.839787+00,2020-11-26 15:29:49.190617+00,NaN,NaN,after
16286,564,3857.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 3857,2020-06-24 11:58:22.581782+00,2020-10-13 14:25:15.755457+00,NaN,2020-07-04 10:00:00+00,2020-07-30 22:00:00+00,after